#menuBar {
    text-align: center;
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    display: flex;
}

#menuBar > * {
    margin: 20px;
}

#menu {
    width: 80%;
}

#menu > * {
    display: inline-block;
    margin: 0 20px 0 20px;
    width: 10%;
}

#auth {
    display: inline-block;
    width: 20%;
}