.menuBar {
    text-align: center;
    border: 1px solid gray;
}

.menu {
    display: inline-block;
    text-align: center;
    margin: 20px;
}

.account {
    display: inline-block;
    margin-left: 50px;
}